@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 97%;
    --foreground: 222 47% 11%;

    --accent: 216 100% 56%;
    --accent-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 216 100% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 36% 95%;
    --secondary-foreground: 222 47% 11%;

    --muted: 213 36% 95%;
    --muted-foreground: 215 19% 35%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 213 27% 84%;
    --ring: 216 100% 56%;

    --radius: 0.6rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-family: theme("fontFamily.sans");
    font-feature-settings: "cv11", "ss01";
    font-variant-numeric: tabular-nums;
  }
}
